$section-bg-color: #f1fcfe;
$section-item-title-color: #010101;
$section-item-text-color: #010101;

.section {
    background-color: $section-bg-color;
    padding: 25px 0;  
}

.item {
    text-align: center;

    &:not(:first-child) {
        margin-top: 50px;
    }

    &__img {
        &__game {
            width: 242px;
        }

        &__docs {
            width: 156px;
        }

        &__map {
            width: 190px;
        }   
    }

    &__title {
        font: 1.125em "UbuntuBold", sans-serif;
        line-height: 1;
        color: $section-item-title-color;
    }

    &__text {
        font: 0.9375em "UbuntuRegular", sans-serif;
        line-height: 1.47em;
        color: $section-item-text-color;
        margin-top: 10px;
    }
}

@media all and (min-width: $screen-sm-min) {
    .item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &__content {
            text-align: left;
            flex: 1;
        }

        &__wrap {
            width: 242px;
            flex-basis: 242px;
            text-align: center;
        }

        &__img {
            &__docs {
                width: 163px;
            }
    
            &__map {
                width: 202px;
            }   
        }
    }
}

@media all and (min-width: $screen-md-min) {
    .item {
        &:not(:first-child) {
            margin-top: 10px;
        }

        &__content {
            margin-left: 30px;
        }
    }
}

@media all and (min-width: $screen-lg-min) {
    .item {
        display: block;
        flex: 1;

        &__wrap {
            margin: 0 auto;
            width: 256px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            height: 173px;
        }

        &__content {
            text-align: center;
        }

        &__img {
            &__game {
                width: 256px;
            }
        }

        &__title {
            font-size: 1.25em;
        }

        &__text {
            font-size: 1em;
            line-height: 1.38em;
        }
    }

    .list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}

@media all and (min-width: $screen-xl-min) {
    .item {
        &__img {
            &__game {
                width: 296px;
            }

            &__docs {
                width: 182px;
            }
    
            &__map {
                width: 223px;
            }   
        }
    }
}