$section-bg-color: #daf8ff;
$section-title-color: #093444;
$section-item-number-color: #289982;
$section-item-title-color: #000;
$section-item-text-color: #000;

.section {
    background-color: $section-bg-color;
    padding: 30px 0;
}

.title {
    font: 1.25em "UbuntuBold", sans-serif;
    line-height: 1;
    text-align: center;
    color: $section-title-color;
}

.list {
    margin-top: 12px;
}

.item {
    text-align: center;

    &:not(:first-child) {
        margin-top: 50px;
    }

    &__number {
        font: 1.5em "UbuntuBold", sans-serif;
        line-height: 1;
        color: $section-item-number-color;
    }

    &__title {
        font: 1.125em "UbuntuBold", sans-serif;
        line-height: 1;
        color: $section-item-title-color;
        margin-top: 15px;
    }

    &__text {
        font: 0.9375em "UbuntuRegular", sans-serif;
        line-height: 1.47em;
        color: $section-item-text-color;
        margin-top: 10px;
    }

    &__img {
        margin: 0 auto;
        background-repeat: no-repeat;

        &__first {
            background-image: url('./img/step1_XS.png');
            width: 205px;
            height: 209px;
        }

        &__second {
            background-image: url('./img/step2_XS.png');
            width: 196px;
            height: 211px;
        }

        &__third {
            background-image: url('./img/step3_XS.png');
            width: 210px;
            height: 245px;
        }
    }
}

.btn {
    width: 100%;
    margin-top: 30px;
}

@media all and (min-width: $screen-sm-min) {
    .title {
        font-size: 1.5em;
    }

    .list {
        margin-top: 30px;
    }

    .item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &__content {
            flex: 1;
            text-align: left;
            margin-left: 35px;
        }

        &__wrap {
            flex-basis: 255px;
            width: 255px;
        }
        
        &__img {
            margin: 0 auto;

            &__first {
                background-image: url('./img/step1_S.png');
                width: 255px;
                height: 242px;
            }
    
            &__second {
                background-image: url('./img/step2_S.png');
                width: 228px;
                height: 244px;
            }
    
            &__third {
                background-image: url('./img/step3_S.png');
                width: 251px;
                height: 279px;
            }
        }
    }
    
    .btn {
        display: block;
        width: 200px;
        margin: 30px auto 0 auto;
    }
}

@media all and (min-width: $screen-md-min) {
    .title {
        font-size: 1.85em;
    }

    .list {
        margin-top: 50px;
    }

    .btn {
        font-size: 1.125em;
        padding: 23px 20px;
        border-radius: 32px;
        width: 240px;
    }

    .item {
        &__content {
            margin-left: 30px;
        }

        &__wrap {
            flex-basis: 294px;
            width: 294px;
        }

        &__number {
            font-size: 2.5em;
        }
    
        &__title {
            font-size: 1.25em;
            margin-top: 25px;
        }
    
        &__text {
            font-size: 1.125em;
        }

        &__img {
            &__first {
                background-image: url('./img/step1_M.png');
                width: 294px;
                height: 275px;
            }
    
            &__second {
                background-image: url('./img/step2_M.png');
                width: 257px;
                height: 277px;
            }
    
            &__third {
                background-image: url('./img/step3_M.png');
                width: 284px;
                height: 318px;
            }
        }
    }
}

@media all and (min-width: $screen-lg-min) {
    .title {
        font-size: 2.25em;
    }

    .list {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .item {
        &__wrap {
            flex-basis: 347px;
            width: 347px;
        }

        &__img {
            &__first {
                background-image: url('./img/step1_L.png');
                width: 347px;
                height: 307px;
            }
    
            &__second {
                background-image: url('./img/step2_L.png');
                width: 300px;
                height: 321px;
            }
    
            &__third {
                background-image: url('./img/step3_L.png');
                width: 315px;
                height: 351px;
            }
        }
    }
}

@media all and (min-width: $screen-xl-min) {
    .item {
        &__wrap {
            width: 405px;
            flex-basis: 405px;
        }

        &__img {
            &__first {
                background-image: url('./img/step1_XL.png');
                width: 405px;
                height: 368px;
            }
    
            &__second {
                background-image: url('./img/step2_XL.png');
                width: 363px;
                height: 386px;
            }
    
            &__third {
                background-image: url('./img/step3_XL.png');
                width: 392px;
                height: 448px;
            }
        }
    }
}