$section-bg-color: #062733;
$section-title-color: #fff;
$section-text-color: #fff;
$section-round-bg-color: #34bfa3;
$section-round-line-color: #e48118;
$section-square-bd-color: #e48118;

.section {
    background-color: $section-bg-color;
    padding-top: 50px;
    text-align: center;
    position: relative;
}

.title {
    font: 1.25em "UbuntuBold", sans-serif;
    line-height: 1;
    color: $section-title-color;
}

.text {
    font: 0.9375em "UbuntuRegular", sans-serif;
    line-height: 1.47em;
    color: $section-text-color;
    margin-top: 12px;
}

.btn {
    width: 100%;
    margin-top: 30px;
}

.img {
    max-width: 100%;
    vertical-align: top;
}

.square {
    position: absolute;
    top: 22px;
    left: 44px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 4px solid $section-square-bd-color;

    &__second {
        top: auto;
        left: auto;
        right: 65px;
        bottom: 150px;
        background-color: $section-square-bd-color;
    }
}

.round {
    position: absolute;
    top: 25px;
    left: -30px;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $section-round-bg-color;

    &__second {
        bottom: 80px;
        top: auto;
        left: auto;
        right: 8px;
    }

    &__line {
        position: absolute;
        top: 42px;
        left: 34px;
        content: "";
        width: 34px;
        height: 2px;
        transform: rotate(45deg);
        background-color: $section-round-line-color;
    }
}