$input-field-bg-color: #fff;
$input-field-bd-color: #cad9dc;
$input-label-color: #869ca0;

.input {
    position: relative;
}

.field {
    width: 100%;
    border-radius: 5px;
    background-color: $input-field-bg-color;
    border: 1px solid $input-field-bd-color;
    font: 1.125em "UbuntuRegular", sans-serif;
    padding: 15px 20px;
    outline: none;

    &:focus,
    &.hasValue {
    //   padding: 18px 15px 8px 15px;

      ~ .label {
        top: 5px;
        font-size: 0.625em;
      }
    }
}

.label {
    position: absolute;
    top: 17px;
    left: 20px;
    font: 1.125em "UbuntuRegular", sans-serif;
    line-height: 1;
    color: $input-label-color;
    pointer-events: none;
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .35s;
    transition-property: top, font-size, color;
}