$btn-background-color: #34bfa3;
$btn-hover-background-color: #4dd6ba;
$btn-active-background-color: #28ac91;
$btn-text-color: #fff;

.button {
    font: 0.75em "UbuntuMedium", sans-serif;
    line-height: 1;
    color: $btn-text-color;
    background-color: $btn-background-color;
    border-radius: 17px;
    border: 0;
    padding: 11px 20px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;

    &:hover {
        background-color: $btn-hover-background-color;
    }

    &:active {
        background-color: $btn-active-background-color;
    }
}

@media all and (min-width: $screen-md-min) {
    .button {
        padding: 14px 20px;
        border-radius: 22px;
        font-size: 1em;
        letter-spacing: 1.3px;
    }
}